.book-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start; 
  gap: 20px; 
  padding: 20px;
}

.book-card {
  width: calc(25% - 20px); 
  margin: 5px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.browse-books {
  width: 100%;
  max-width: 100px;
  margin: 0 auto; 
  padding-left: 20px;
  padding-right: 20px;
}
