.search-results-container {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .book-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Responsive grid */
    gap: 20px;
    margin-top: 20px;
  }
  