

.navbar-links { 
    width: 100% ;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background: #f4f1ea; 
    padding: 15px 2.75%; 

}



.search-box {
    position: relative; /* To position the icon within the input */
}

.search-box input {
    padding: 10px 0px 10px 40px; /* Adds left padding to make space for the icon */
    background: transparent;
    border: 0;
    outline: 0;
    border-radius: 20px; /* Rounded corners */
    background-color: #d9e6d2; /* Background color */
    color: #2e5339; /* Text color */
    font-size: 18px;
    max-width: 400px;
}

.search-box input::placeholder {
    color: #8a9b8a; /* Subtle color for placeholder text */
}

/* Position the icon */
.search-box i { 
    color: #2e5339;
    position: absolute;
    top: 50%; /* Center vertically within the input */
    left: 15px; /* Position the icon based on padding */
    pointer-events: none;
    transform: translateY(-50%);
}


.logo { 
    max-width: 150px;
    max-height: 80px;
    width: auto;
    height: auto;
    margin-right: 25px;
}
ul { 
    flex: 1; 
    list-style: none;
    text-align: center;

}

ul li { 
    display: inline-block;
    margin: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.person-acc { 
    width: 50px;
    cursor: pointer;
    margin-left:5px; 
}
