
.navbar-links {
  width: 100%;  /* Ensure it spans the full width */
  position: fixed;  /* Make the navbar fixed at the top */
  top: 0;  /* Align it at the top of the page */
  left: 0;  /* Align it to the left */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f1ea;
  padding: 15px 2.75%;
  z-index: 1000;  /* Ensures it stays on top of other elements */
}

.search-box input {
  padding: 10px 0px 10px 40px;
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 20px;
  background-color: #d9e6d2;
  color: #2e5339;
  font-size: 18px;
  max-width: 400px;
}

.search-box i {
  color: #2e5339;
  top: 50%;
  right: 39px;
  pointer-events: none;
  transform: translateY(-50%);
}

.logo {
  max-width: 150px;
  max-height: 80px;
  width: auto;
  height: auto;
  margin-right: 25px;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.person-acc {
  width: 50px;
  cursor: pointer;
  margin-left: 5px;
}

a {
  color: black;
  text-decoration: none;
}

.browse-books {
  padding-top: 80px;  
}

